img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-select {
  width: 25px;
}
option {
  width: 25px;
}

.custom-button {
  border: none;
  background-color: #fff;
}

.cursor {
  cursor: pointer;
}
.custom-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

td {
  border: 1px solid #6c757d3d !important;
}
th {
  border: 1px solid #343a40 !important;
}
.header {
  position: sticky;
  top: 0;
}

::-webkit-scrollbar {
  display: none;
}
